body {
    font-family: Arial, sans-serif;
    background-color: #481b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color:#805c5c;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 2, 2, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.password-display {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    color: #481b1b;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #141212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#282a28;;
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .password-display {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }
}